@page "/"

<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <p class="display-4 text-dark"><span>Hello, I'm Tristen Tomczak,</span></p>
        </div>
        <div class="row justify-content-center">
            <h3 class="text-dark">an aspiring professional who is interested in front-end and back-end development.</h3>
        </div>
    </div>
</section>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <h2 class="font-weight-bold text-secondary">PROJECTS</h2>
                </center>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <center>
                    <div class="card mb-5 border-primary" style="width: 85%;">
                        <div class="card-header bg-transparent border-primary text-left text-primary">HTML | CSS | Bootstrap | C# | Blazor</div>
                        <div class="card-body text-left">
                            <h5 class="card-title">tristentomczak.me</h5>
                            <p class="card-text">
                                This website.
                            </p>
                            <a href="https://github.com/ttomczak3/ttomczakWebApplication" class="btn btn-outline-primary">GitHub</a>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <center>
                    <div class="card mb-5 border-primary" style="width: 85%;">
                        <div class="card-header bg-transparent border-primary text-left text-primary">HTML | CSS | Bootstrap | JavaScript | jQuery | C#</div>
                        <div class="card-body text-left">
                            <h5 class="card-title">The FitKit</h5>
                            <p class="card-text">
                                The FitKit is a finals school project working with two other classmates. The purpose of this website would help a customer learn what to eat,
                                lose weight, build muscle, or do both. Working on this project was great for learning to work with a team using Git and Agile software development.
                            </p>
                            <a href="https://github.com/ezbehler/2021_TheFitKit" class="btn btn-outline-primary">GitHub</a>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <center>
                    <div class="card mb-5 border-primary" style="width: 85%;">
                        <div class="card-header bg-transparent border-primary text-left text-primary">JavaScript | jQuery | ASP.NET | C# | CSS | Bootstrap</div>
                        <div class="card-body text-left">
                            <h5 class="card-title">Elibrary Management</h5>
                            <p class="card-text">
                                The idea of this project is to demonstrate using ASP.NET, ADO.NET, and SQL.
                                This project has multiple tables with users, admins, and books.
                                You can issue a book to a user as an admin like you would in an actual library.
                            </p>
                            <a href="https://github.com/ttomczak3/ElibraryManagement" class="btn btn-outline-primary">GitHub</a>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <center>
                    <div class="card mb-5 border-primary" style="width: 85%;">
                        <div class="card-header bg-transparent border-primary text-left text-primary">C#</div>
                        <div class="card-body text-left">
                            <h5 class="card-title">Ludwig Jam</h5>
                            <p class="card-text">
                                A foddian game of a car advancing up a hill; that's attempting to get to the top without falling.
                                Its development was for the Ludwig Game Jam with a ten-day time limit.
                                Developing the game with strangers on this project was a fun learning experience and helped work on my communication.
                            </p>
                            <a href="https://github.com/ttomczak3/ludwig-jam" class="btn btn-outline-primary">GitHub</a>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <h2 class="font-weight-bold text-secondary">SKILLS</h2>
                </center>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <center>
                    <img class="mb-5" width="100" src="images/html.png" alt="HTML" />
                </center>
            </div>
            <div class="col-md-3">
                <center>
                    <img class="mb-5" width="100" src="images/css.png" alt="CSS" />
                </center>
            </div>
            <div class="col-md-3">
                <center>
                    <img class="mb-5" width="100" src="images/js.png" alt="JS" />
                </center>
            </div>
            <div class="col-md-3">
                <center>
                    <img class="mb-5" width="100" src="images/c-sharp.png" alt="C#" />
                </center>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <center>
                    <img class="mb-5" width="100" src="images/boostrap.png" alt="Bootstrap" />
                </center>
            </div>
            <div class="col-md-3">
                <center>
                    <img class="mb-5" width="100" src="images/jQuery.png" alt="jQuery" />
                </center>
            </div>
            <div class="col-md-3">
                <center>
                    <img class="mb-5" width="100" src="images/core.png" alt="ASP.NET Core" />
                </center>
            </div>
            <div class="col-md-3">
                <center>
                    <img class="mb-5" width="100" src="images/ssms.png" alt="MSSQL" />
                </center>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <h2 class="font-weight-bold text-secondary">INTERESTS</h2>
                </center>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h5>
                    Apart from being a web developer, I enjoy part of my time outdoors.
                    During the warmer months here in Wisconsin, I enjoy going for walks, mountain biking, and disc golf.
                </h5>
                <h5>
                    When indoors, I watch a lot of YouTube and Twitch Streamers, I am an aspiring gamer
                    and I spend a large amount of my free time exploring the latest technology advancements such as .NET Core.
                </h5>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <a class="text-dark">&#x40; 2022 |</a>
                    <a class="text-primary" style="cursor: pointer;" @onclick="() => OpenDialog()">Contact</a>
                </center>
            </div>
        </div>
    </div>
</section>

@if (Dialog)
{
    <ttomczakWebApplication.Component.Component OnClose="@OnDialog"></ttomczakWebApplication.Component.Component>
}

@code{
    public bool Dialog { get; set; }

    private void OnDialog(bool accpted)
    {
        Dialog = false;
        StateHasChanged();
    }

    private void OpenDialog()
    {
        Dialog = true;
        StateHasChanged();
    }
}
