<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Tristen Tomczak</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mailto: ttomczak1512@protonmail.com">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Email
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TristenTomczak_Resume_2022.pdf">
                <span class="oi oi-document" aria-hidden="true"></span> Resume
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
